<app-header></app-header>


<div class="container card-columns">
  <div class="card ">
  <div class=" card card-body " *ngFor="let singleEvent of listEvents">
      <a [routerLink]="['/details']" (click)="selectedEvent(singleEvent)" ><h1>{{singleEvent.title}}</h1></a>
      <a [routerLink]="['/details']" (click)="selectedEvent(singleEvent)"><h6>{{singleEvent.subtitle}}1</h6></a>
      <a [routerLink]="['/details']" (click)="selectedEvent(singleEvent)"><img src="../assets/img/sample-image.jpg" alt="sample-image" width="100%"></a>
      <p class="card-text">{{singleEvent.startDate | date:'dd/MM/yyyy' }} - {{singleEvent.endDate | date: 'dd/MM/yyyy'}}</p>
      <p class="card-text">{{singleEvent.description}}</p>
      <button type="button" class="btn-primary btn-block" (click)="selectedEvent(singleEvent)" [routerLink]="['/details']">Comprar</button>
    </div>
</div>
