.container{
  display: flex;
  margin-top: 20px;
}

h3{
  color: darkred;
}


button {
  border: none;
  background-color: lightskyblue;
  border-radius: 3px;
  font-weight: bold;
}

.error {
  display:flex;
  height: auto;
  align-items: center;
}

.table{
  width: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}


.goToList a{
  text-decoration: none;
  float: right;
  margin-right: 50px;
  font-size: 20px;
}


/*RESPONSIVE*/
/*Very Small devices - Max width 400px*/
@media only screen and (max-width: 400px){
  .container {
    flex-wrap: wrap;
  }

  .table{
    width: 100%;
    font-size: 13px;
  }
}

/*Small devices - Max width 767px*/
@media only screen and (max-width: 767px){
  .container {
    flex-wrap: wrap;
  }

  .table{
    width: 100%;
  }
}
